.u-section-1 .u-sheet-1 {
  min-height: 822px;
}

.u-section-1 .u-image-1 {
  width: 1141px;
  height: 698px;
  --radius: 50px;
  margin: 52px -1px 0;
}

.u-section-1 .u-group-1 {
  width: 429px;
  min-height: 451px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  height: auto;
  margin: -464px 26px 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-family: Alatsi;
  font-size: 4.5rem;
  line-height: 1;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 54px 0 0;
}

.u-section-1 .u-text-2 {
  font-style: italic;
  width: auto;
  margin: 23px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-style: italic;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  border-style: none;
  font-size: 1rem;
  margin: 30px auto 0;
  padding: 18px 46px 18px 44px;
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: auto; /* Adjust as needed */
  }

  .u-section-1 .u-image-1 {
    width: 100%; /* Adjust to fill the container */
    height: auto; /* Adjust to maintain aspect ratio */
    border-radius: 50px; /* Set border-radius to create rounded corners */
    margin: 52px auto 0; /* Center the image horizontally */
  }

  .u-section-1 .u-group-1 {
    width: 100%; /* Adjust to fill the container */
    margin: -121px auto 60px; /* Adjust margin */
    height: auto; /* Adjust height */
  }

  .u-section-1 .u-container-layout-1 {
    padding: 0 10px; /* Adjust padding */
  }

  .u-section-1 .u-text-1 {
    font-size: 2.5rem; /* Adjust font size */
    margin-top: 33px; /* Adjust margin */
  }

  .u-section-1 .u-text-2 {
    margin-top: 20px; /* Adjust margin */
  }

  .u-section-1 .u-btn-2 {
    font-size: 0.75rem; /* Adjust font size */
    margin-top: 20px; /* Adjust margin */
    padding: 17px 34px 19px 33px; /* Adjust padding */
  }

  .u-section-1 {
    margin-bottom: 10px; /* Adjust margin */
  }
}

.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1240px;
}

.u-section-2 {
  margin-bottom: 20px; /* Adjust margin */
}

.u-section-2 .u-text-1 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 60px auto 0;
}
  
  .u-section-2 .u-text-2 {
    font-size: 1rem;
    letter-spacing: 0px;
    font-style: italic;
    text-align: left;
    --animation-custom_in-translate_x: -300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin: 20px auto 0;
  }
  
  .u-section-2 .u-btn-1 {
    border-style: solid;
    font-style: italic;
    padding: 0;
  }
  
  .u-section-2 .u-list-1 {
    grid-template-rows: repeat(1, auto);
    grid-auto-rows: 100%;
    margin-top: 30px;
    margin-bottom: 60px;
  }
  
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(4, calc(25% - 15px));
    min-height: 965px;
    grid-gap: 20px;
  }
  
  .u-section-2 .u-list-item-1 {
    background-image: none;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }
  
  .u-section-2 .u-container-layout-1 {
    padding: 0 0 30px;
  }
  
  .u-section-2 .u-image-1 {
    height: 227px;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .u-section-2 .u-text-3 {
    width: 210px;
    font-size: 1.5rem;
    margin: 30px auto 0;
  }
  
  .u-section-2 .u-text-4 {
    width: 210px;
    font-size: 1rem;
    font-style: italic;
    margin: 20px auto 0;
  }
  
  .u-section-2 .u-icon-2 {
    width: 34px;
    height: 34px;
    margin: 30px auto 0;
    padding: 0;
  }
  
  .u-section-2 .u-list-item-2 {
    background-image: none;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }
  
  .u-section-2 .u-container-layout-2 {
    padding: 0 0 30px;
  }
  
  .u-section-2 .u-image-2 {
    height: 227px;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .u-section-2 .u-text-5 {
    width: 210px;
    font-size: 1.5rem;
    margin: 30px auto 0;
  }
  
  .u-section-2 .u-text-6 {
    font-style: normal;
    width: 210px;
    font-size: 1rem;
    margin: 20px auto 0;
  }
  
  .u-section-2 .u-icon-3 {
    width: 34px;
    height: 34px;
    margin: 30px auto 0;
    padding: 0;
  }
  
  .u-section-2 .u-list-item-3 {
    background-image: none;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }
  
  .u-section-2 .u-container-layout-3 {
    padding: 0 0 30px;
  }
  
  .u-section-2 .u-image-3 {
    height: 227px;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .u-section-2 .u-text-7 {
    width: 210px;
    font-size: 1.5rem;
    margin: 30px auto 0;
  }
  
  .u-section-2 .u-text-8 {
    font-style: normal;
    width: 210px;
    font-size: 1rem;
    margin: 20px auto 0;
  }
  
  .u-section-2 .u-icon-4 {
    width: 34px;
    height: 34px;
    margin: 30px auto 0;
    padding: 0;
  }
  
  .u-section-2 .u-list-item-4 {
    background-image: none;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }
  
  .u-section-2 .u-container-layout-4 {
    padding: 0 0 30px;
  }
  
  .u-section-2 .u-image-4 {
    height: 227px;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .u-section-2 .u-text-9 {
    width: 210px;
    font-size: 1.5rem;
    margin: 30px auto 0;
  }
  
  .u-section-2 .u-text-10 {
    font-style: normal;
    width: 210px;
    font-size: 1rem;
    margin: 20px auto 0;
  }
  
  .u-section-2 .u-icon-5 {
    width: 34px;
    height: 34px;
    margin: 30px auto 0;
    padding: 0;
  }
  
  .u-section-2 .u-list-item-5 {
    background-image: none;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }
  
  .u-section-2 .u-container-layout-5 {
    padding: 0 0 30px;
  }
  
  .u-section-2 .u-image-5 {
    height: 227px;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .u-section-2 .u-text-11 {
    width: 210px;
    font-size: 1.5rem;
    margin: 30px auto 0;
  }
  
  .u-section-2 .u-text-12 {
    font-style: normal;
    width: 210px;
    font-size: 1rem;
    margin: 20px auto 0;
  }
  
  .u-section-2 .u-icon-6 {
    width: 34px;
    height: 34px;
    margin: 30px auto 0;
    padding: 0;
  }
  
  .u-section-2 .u-list-item-6 {
    background-image: none;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }
  
  .u-section-2 .u-container-layout-6 {
    padding: 0 0 30px;
  }
  
  .u-section-2 .u-image-6 {
    height: 227px;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .u-section-2 .u-text-13 {
    width: 210px;
    font-size: 1.5rem;
    margin: 30px auto 0;
  }
  
  .u-section-2 .u-text-14 {
    font-style: normal;
    width: 210px;
    font-size: 1rem;
    margin: 20px auto 0;
  }
  
  .u-section-2 .u-icon-7 {
    width: 34px;
    height: 34px;
    margin: 30px auto 0;
    padding: 0;
  }
  
  .u-section-2 .u-list-item-7 {
    background-image: none;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }
  
  .u-section-2 .u-container-layout-7 {
    padding: 0 0 30px;
  }
  
  .u-section-2 .u-image-7 {
    height: 227px;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .u-section-2 .u-text-15 {
    width: 210px;
    font-size: 1.5rem;
    margin: 30px auto 0;
  }
  
  .u-section-2 .u-text-16 {
    font-style: normal;
    width: 210px;
    font-size: 1rem;
    margin: 20px auto 0;
  }
  
  .u-section-2 .u-icon-8 {
    width: 34px;
    height: 34px;
    margin: 30px auto 0;
    padding: 0;
  }
  
  .u-section-2 .u-list-item-8 {
    background-image: none;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }
  
  .u-section-2 .u-container-layout-8 {
    padding: 0 0 30px;
  }
  
  .u-section-2 .u-image-8 {
    height: 227px;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .u-section-2 .u-text-17 {
    width: 210px;
    font-size: 1.5rem;
    margin: 30px auto 0;
  }
  
  .u-section-2 .u-text-18 {
    font-style: normal;
    width: 210px;
    font-size: 1rem;
    margin: 20px auto 0;
  }
  
  .u-section-2 .u-icon-9 {
    width: 34px;
    height: 34px;
    margin: 30px auto 0;
    padding: 0;
  }
  
  @media (max-width: 1199px) {
    .u-section-2 .u-sheet-1 {
      min-height: 759px;
    }
  
    .u-section-2 .u-repeater-1 {
      min-height: 790px;
    }
  
    .u-section-2 .u-image-1 {
      height: 187px;
    }
  
    .u-section-2 .u-text-3 {
      width: auto;
      margin-left: 20px;
      margin-right: 20px;
    }
  
    .u-section-2 .u-text-4 {
      width: auto;
      margin-left: 20px;
      margin-right: 20px;
    }
  
    .u-section-2 .u-image-2 {
      height: 187px;
    }
  
    .u-section-2 .u-text-5 {
      width: auto;
      margin-left: 20px;
      margin-right: 20px;
    }
  
    .u-section-2 .u-text-6 {
      width: auto;
      margin-left: 20px;
      margin-right: 20px;
    }
  
    .u-section-2 .u-image-3 {
      height: 187px;
    }
  
    .u-section-2 .u-text-7 {
      width: auto;
      margin-left: 20px;
      margin-right: 20px;
    }
  
    .u-section-2 .u-text-8 {
      width: auto;
      margin-left: 20px;
      margin-right: 20px;
    }
  
    .u-section-2 .u-image-4 {
      height: 187px;
    }
  
    .u-section-2 .u-text-9 {
      width: auto;
      margin-left: 20px;
      margin-right: 20px;
    }
  
    .u-section-2 .u-text-10 {
      width: auto;
      margin-left: 20px;
      margin-right: 20px;
    }
  
    .u-section-2 .u-image-5 {
      height: 187px;
    }
  
    .u-section-2 .u-text-11 {
      width: auto;
      margin-left: 20px;
      margin-right: 20px;
    }
  
    .u-section-2 .u-text-12 {
      width: auto;
      margin-left: 20px;
      margin-right: 20px;
    }
  
    .u-section-2 .u-image-6 {
      height: 187px;
    }
  
    .u-section-2 .u-text-13 {
      width: auto;
      margin-left: 20px;
      margin-right: 20px;
    }
  
    .u-section-2 .u-text-14 {
      width: auto;
      margin-left: 20px;
      margin-right: 20px;
    }
  
    .u-section-2 .u-image-7 {
      height: 187px;
    }
  
    .u-section-2 .u-text-15 {
      width: auto;
      margin-left: 20px;
      margin-right: 20px;
    }
  
    .u-section-2 .u-text-16 {
      width: auto;
      margin-left: 20px;
      margin-right: 20px;
    }
  
    .u-section-2 .u-image-8 {
      height: 187px;
    }
  
    .u-section-2 .u-text-17 {
      width: auto;
      margin-left: 20px;
      margin-right: 20px;
    }
  
    .u-section-2 .u-text-18 {
      width: auto;
      margin-left: 20px;
      margin-right: 20px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-2 .u-sheet-1 {
      min-height: 2357px;
    }
  
    .u-section-2 .u-repeater-1 {
      grid-template-columns: repeat(2, calc(50% - 10px));
      min-height: 2092px;
    }
  
    .u-section-2 .u-image-1 {
      height: 286px;
    }
  
    .u-section-2 .u-text-3 {
      margin-left: 30px;
      margin-right: 30px;
    }
  
    .u-section-2 .u-text-4 {
      margin-left: 30px;
      margin-right: 30px;
    }
  
    .u-section-2 .u-image-2 {
      height: 286px;
    }
  
    .u-section-2 .u-text-5 {
      margin-left: 30px;
      margin-right: 30px;
    }
  
    .u-section-2 .u-text-6 {
      margin-left: 30px;
      margin-right: 30px;
    }
  
    .u-section-2 .u-image-3 {
      height: 286px;
    }
  
    .u-section-2 .u-text-7 {
      margin-left: 30px;
      margin-right: 30px;
    }
  
    .u-section-2 .u-text-8 {
      margin-left: 30px;
      margin-right: 30px;
    }
  
    .u-section-2 .u-image-4 {
      height: 286px;
    }
  
    .u-section-2 .u-text-9 {
      margin-left: 30px;
      margin-right: 30px;
    }
  
    .u-section-2 .u-text-10 {
      margin-left: 30px;
      margin-right: 30px;
    }
  
    .u-section-2 .u-image-5 {
      height: 286px;
    }
  
    .u-section-2 .u-text-11 {
      margin-left: 30px;
      margin-right: 30px;
    }
  
    .u-section-2 .u-text-12 {
      margin-left: 30px;
      margin-right: 30px;
    }
  
    .u-section-2 .u-image-6 {
      height: 286px;
    }
  
    .u-section-2 .u-text-13 {
      margin-left: 30px;
      margin-right: 30px;
    }
  
    .u-section-2 .u-text-14 {
      margin-left: 30px;
      margin-right: 30px;
    }
  
    .u-section-2 .u-image-7 {
      height: 286px;
    }
  
    .u-section-2 .u-text-15 {
      margin-left: 30px;
      margin-right: 30px;
    }
  
    .u-section-2 .u-text-16 {
      margin-left: 30px;
      margin-right: 30px;
    }
  
    .u-section-2 .u-image-8 {
      height: 286px;
    }
  
    .u-section-2 .u-text-17 {
      margin-left: 30px;
      margin-right: 30px;
    }
  
    .u-section-2 .u-text-18 {
      margin-left: 30px;
      margin-right: 30px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-2 .u-repeater-1 {
      grid-template-columns: 100%;
    }
  
    .u-section-2 .u-image-1 {
      height: 429px;
    }
  
    .u-section-2 .u-text-3 {
      font-size: 1.875rem;
      margin-left: 40px;
      margin-right: 40px;
    }
  
    .u-section-2 .u-text-4 {
      margin-left: 40px;
      margin-right: 40px;
    }
  
    .u-section-2 .u-image-2 {
      height: 429px;
    }
  
    .u-section-2 .u-text-5 {
      font-size: 1.875rem;
      margin-left: 40px;
      margin-right: 40px;
    }
  
    .u-section-2 .u-text-6 {
      margin-left: 40px;
      margin-right: 40px;
    }
  
    .u-section-2 .u-image-3 {
      height: 429px;
    }
  
    .u-section-2 .u-text-7 {
      font-size: 1.875rem;
      margin-left: 40px;
      margin-right: 40px;
    }
  
    .u-section-2 .u-text-8 {
      margin-left: 40px;
      margin-right: 40px;
    }
  
    .u-section-2 .u-image-4 {
      height: 429px;
    }
  
    .u-section-2 .u-text-9 {
      font-size: 1.875rem;
      margin-left: 40px;
      margin-right: 40px;
    }
  
    .u-section-2 .u-text-10 {
      margin-left: 40px;
      margin-right: 40px;
    }
  
    .u-section-2 .u-image-5 {
      height: 429px;
    }
  
    .u-section-2 .u-text-11 {
      font-size: 1.875rem;
      margin-left: 40px;
      margin-right: 40px;
    }
  
    .u-section-2 .u-text-12 {
      margin-left: 40px;
      margin-right: 40px;
    }
  
    .u-section-2 .u-image-6 {
      height: 429px;
    }
  
    .u-section-2 .u-text-13 {
      font-size: 1.875rem;
      margin-left: 40px;
      margin-right: 40px;
    }
  
    .u-section-2 .u-text-14 {
      margin-left: 40px;
      margin-right: 40px;
    }
  
    .u-section-2 .u-image-7 {
      height: 429px;
    }
  
    .u-section-2 .u-text-15 {
      font-size: 1.875rem;
      margin-left: 40px;
      margin-right: 40px;
    }
  
    .u-section-2 .u-text-16 {
      margin-left: 40px;
      margin-right: 40px;
    }
  
    .u-section-2 .u-image-8 {
      height: 429px;
    }
  
    .u-section-2 .u-text-17 {
      font-size: 1.875rem;
      margin-left: 40px;
      margin-right: 40px;
    }
  
    .u-section-2 .u-text-18 {
      margin-left: 40px;
      margin-right: 40px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-2 .u-image-1 {
      height: 270px;
    }
  
    .u-section-2 .u-text-3 {
      margin-left: 30px;
      margin-right: 30px;
    }
  
    .u-section-2 .u-text-4 {
      margin-left: 30px;
      margin-right: 30px;
    }
  
    .u-section-2 .u-image-2 {
      height: 270px;
    }
  
    .u-section-2 .u-text-5 {
      margin-left: 30px;
      margin-right: 30px;
    }
  
    .u-section-2 .u-text-6 {
      margin-left: 30px;
      margin-right: 30px;
    }
  
    .u-section-2 .u-image-3 {
      height: 270px;
    }
  
    .u-section-2 .u-text-7 {
      margin-left: 30px;
      margin-right: 30px;
    }
  
    .u-section-2 .u-text-8 {
      margin-left: 30px;
      margin-right: 30px;
    }
  
    .u-section-2 .u-image-4 {
      height: 270px;
    }
  
    .u-section-2 .u-text-9 {
      margin-left: 30px;
      margin-right: 30px;
    }
  
    .u-section-2 .u-text-10 {
      margin-left: 30px;
      margin-right: 30px;
    }
  
    .u-section-2 .u-image-5 {
      height: 270px;
    }
  
    .u-section-2 .u-text-11 {
      margin-left: 30px;
      margin-right: 30px;
    }
  
    .u-section-2 .u-text-12 {
      margin-left: 30px;
      margin-right: 30px;
    }
  
    .u-section-2 .u-image-6 {
      height: 270px;
    }
  
    .u-section-2 .u-text-13 {
      margin-left: 30px;
      margin-right: 30px;
    }
  
    .u-section-2 .u-text-14 {
      margin-left: 30px;
      margin-right: 30px;
    }
  
    .u-section-2 .u-image-7 {
      height: 270px;
    }
  
    .u-section-2 .u-text-15 {
      margin-left: 30px;
      margin-right: 30px;
    }
  
    .u-section-2 .u-text-16 {
      margin-left: 30px;
      margin-right: 30px;
    }
  
    .u-section-2 .u-image-8 {
      height: 270px;
    }
  
    .u-section-2 .u-text-17 {
      margin-left: 30px;
      margin-right: 30px;
    }
  
    .u-section-2 .u-text-18 {
      margin-left: 30px;
      margin-right: 30px;
    }
  
  }